<footer class="footer">
    
    <div class="containerbottom">
        Like What You See? | 
        <a href="http://www.kulio712.com" target="_blank">Kulio 712</a> @2017 
        
        
            
  
        
  
        &nbsp; &nbsp;
        
    </div>
    
</footer>